@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,500;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow Condensed', sans-serif;
    list-style: none !important;
    text-decoration: none !important;
}

.form-group{
    margin-bottom: 15px;
    margin-top: 15px;
}